<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Eshop Tshirt </title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css" integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Eshop Tshirt </h1>
  <hr>
  <h2>Save Tshirt</h2>

  <form action="#" th:action="@{/saveTshirt}" th:object="${tshirt}" method="POST">
    <th> Tshirt brand</th>
    <input type="text" th:field="*{brand}"
           placeholder="Tshirt Brand" class="form-control mb-4 col-4">
    <th> Tshirt colord</th>
    <input type="text" th:field="*{color}"
           placeholder="Tshirt Color" class="form-control mb-4 col-4">
    <th> Tshirt material</th>
    <input type="text" th:field="*{material}"
           placeholder="Tshirt Material" class="form-control mb-4 col-4">
    <th> Tshirt size</th>
    <input type="text" th:field="*{size}"
           placeholder="Tshirt Size" class="form-control mb-4 col-4">
    <th> Tshirt price</th>
    <input type="text" th:field="*{price}"
           placeholder="Tshirt Price" class="form-control mb-4 col-4">

    <input type="text" th:field="*{quantity}"
           placeholder="Tshirt Quantity" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Tshirt</button>
  </form>

  <hr>

  <a th:href = "@{/}"> Back to Tshirt List</a>
</div>
</body>
</html>